<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">At CleanRobotics, We Are Working to Make Recycling Smarter</h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <h2 class="section-heading service-heading">The Challenge</h2>
                    <span class="fa-stack fa-8x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                        <img src="img/about/challenge.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <p class="large text-muted">Recycling rules are complex and vary based on location, which results in confusion when selecting the correct bin for waste disposal. In facilities such as airports and convention centers, this leads to large-scale contamination of recyclable material and low recycling rates. Thus, fines are incurred at facilities that do not invest in on-site waste sorting infrastructure.</p>
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading service-heading">Our Solution</h2>
                    <span class="fa-stack fa-8x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                        <img src="img/about/solution.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <p class="large text-muted">Our flagship product, the TrashBot, uses advanced robotics and artificial intelligence to sort recyclables from waste at the point of disposal. This process drastically increases the recycling yield and improves its quality through reduced contamination. Other advanced features of the TrashBot help to reduce custodial costs and provide instant waste data via an online dashboard, thus allowing facilities to make data-driven waste management decisions. An optional monitor can be integrated for advertisement and corporate communication.</p>
                </div>
            </div>
        </div>
    </section>
